getBulk repeat until 

Can someone explain how can i run getBulk until i get all responses? Beacuse if I run getBulk for OID that retreives, for example, devices serial number, I get only first 100 records, and there is 800 devices. Thank you!

Why don't you use subtree iso getBulk? That will sort out the matching of the last OID.

Any chance you give me example?
```
var snmp = require ("net-snmp");

var options = {
    version: snmp.Version2c
};

var session = snmp.createSession ("192.168.1.1", "public", options);

var oids = [
	"1.3.6.1.4.1.14179.2.2.1.1.17"
];

var nonRepeaters = 0;
var maxRepetitions = 800;

session.getBulk (oids, nonRepeaters, maxRepetitions, function (error,
		varbinds) {
	if (error) {
		console.error (error.toString ());
	} else {
		// step through the non-repeaters which are single varbinds
		for (var i = 0; i < nonRepeaters; i++) {
			if (i >= varbinds.length)
				break;
			
			if (snmp.isVarbindError (varbinds[i]))
				console.error (snmp.varbindError (varbinds[i]));
			else
				console.log (varbinds[i].oid + "|" + varbinds[i].value);
		}
		
		// then step through the repeaters which are varbind arrays
		for (var j = nonRepeaters; j < varbinds.length; j++) {
			for (var k = 0; k < varbinds[j].length; k++) {
				if (snmp.isVarbindError (varbinds[j][k]))
					console.error (snmp.varbindError (varbinds[j][k]));
				else
					console.log (varbinds[j][k].oid + "|" + varbinds[j][k].value);
			}
		}
	}
});
```

Ok, I was getting to an example, but id you get sorted on this?

Thank you, got i! But to retreive multiple oids on same way, I have to call it mutiple times for each oid?


As far as I know, yes. The alternative is to call getbulk repeatedly and do your own checking for the end of the sequence for every OID that you start with, that is when the base OID for each one changes. 

Disclaimer

The information contained in this communication from the sender is confidential. It is intended solely for use by the recipient and others authorized to receive it. If you are not the recipient, you are hereby notified that any disclosure, copying, distribution or taking action in relation of the contents of this information is strictly prohibited and may be unlawful.

This email has been scanned for viruses and malware, and may have been automatically archived. 


Thank you, solved it, I appreciate your help. Maybe you can give me one more help, when i search for MAC address, I get something like: \u0000'�E\u0013�
If I UTF encode, I get \x5C\x75\x30\x30\x30\x30\x27\xEF\xBF\xBD\x45\x5C\x75\x30\x30\x31\x33\xEF\xBF\xBD
but this seems too long for MAC address?
One more question, if I search for one OID, what should I set the maxRepetitions parameter? Sometimes it behaves strange, one time it returns 10 results, somethimes all 800 that I have on network.


You have to convert the buffer for a MAC address to a hex string. It is very seldom that a MAC address will contain all printable ASCII characters, so I have a wrapper where I can set an auto hex option and if it detects any non-printable 6-character string, I first check if it contains a non-printable character and if so, I convert it to a hex string instead of a standard string.

If you have a list of OIDs in getbulk and for some you don't want any repetitions, you specify them at the beginning of the list and then set the nonRepeaters to the number of them. If you only want the one (actual) value from your OIDs, I'd suggest that you rather use a normal snmpget instead of getbulk. You can get multiple OIDs in one snmpget call.

Thank you very much for all your help until now. I am still not totally sure what maxRepetitions is. Lets take an example:
-i want to get list of serial numbers of all access points I have on controller (lets say there are 500 access points).
-for CISCO, OID to get serial number is: 1.3.6.1.4.1.14179.2.2.1.1.17
-I want to walk/get... only that one OID for all access points
So, for that case, what value should have maxRepetitions?
Thank you very much!

I made it work, but still cant figure out what exactly maxRepetitions stands for. Thank you for the help.

Hi @olishr - the "max-repetitions" variable is part of the GetBulkRequest-PDU specified in RFC 3416 Section 4.2.3, so that's a good place to start, or a run-down of GetBulk.  Understanding the GetBulk mechanism is the key to understand that variable.  In short, for a GetBulk request, the SNMP receiver (agent) will return "max-repetitions" worth of successive varbinds (OID & value) from its MIB.  So if "maxRepetitions" is set to 20, you'll get values from the MIB in chunks of 20 per GetBulk request (assuming a single OID in the request, which is the usual case, but you can have more).

When you say "I want to walk/get... only that one OID for all access points" - it would be worth understanding that you don't get one OID for all items (access points in this case).  Each attribute of each access point will have a unique OID specified by a table base OID prefix, followed by a column value, and then a row value or set of values.  Each OID that you're after is a unique value.

Depending on exactly what info you're after, it sounds like session.tableColumns() is what would probably serve you best.  The "maxRepetitions" can be left as default (20) to get the column values 20 at a time (or set to anything else you want!)

