SNMP Agent Get breaks for short oids

Hello

I noticed that when performing the list of oids below breaks the app

with oids (1 or 1.3) leads to:
> /usr/lib/node_modules/net-snmp/node_modules/net-snmp/index.js:3812
                throw new RangeError('object identifier is too short');
RangeError: object identifier is too short

with oid (1.3.6) leads to:
> /usr/lib/node_modules/net-snmp/node_module/asn1-ber/lib/ber/writer.js:181
                throw new Error('argument is not a valid OID string');
Error: argument is not a valid OID string

with oid (1.3.6.1.4.1) leads to:
> /usr/lib/node_modules/net-snmp/node_modules/net-snmpindex.js:3993
                        handler = providerNode.provider.handler;
TypeError: Cannot read property 'provider' of null


Hi @ernestclyde - thanks for the report.

I've fixed the crash for OIDs longer than four parts.

For those OIDs less that four parts, I've implemented a workaround which violates RFC 3416, Section 4.2.1, but prevents the crash.

These fixes are in master now and are published in v2.6.5 of the npm.

A better solution is for the dependency module node-asn1-ber to support writing short OIDs.  I've raised this pull request on the node-asn1-ber project to this end:
https://github.com/nospaceships/node-asn1-ber/pull/20

If this pull request is accepted, it will replace the workaround for the short OIDs.
