A way to retrieve all errors of a request

Take a look at this example:
````js
session.set([
    {oid: "1", type: snmp.ObjectType.OctetString, value: "1"}, // this will error with "WrongType"
    {oid: "2", type: snmp.ObjectType.OctetString, value: "2"}, // this will error with "WrongValue"
], function (error, varbinds) {
    // returned error is "WrongType" with no way to see or access the "WrongValue" error
});
````

Both `WrongType` and `WrongValue` type of errors are not considered varbind errors so the module will callback with the first error it encounters, but what I'm really after is some way to access all errors and associate them back to the OID which caused them. Possible ideas how to fix this could be:

1. Combine the errors in a [AggregateError](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/AggregateError). This is probably the most backwards-compatible option, thought `AggregateError` is a rather recent addition in JavaScript available natively starting with Node 15 so will require [a shim](https://github.com/es-shims/AggregateError).
2. Add an option to return an array of errors, but this is not backwards-compatible.
3. Return all errors inline with the data, like how it's done for varbind errors.

I'm aware that I can just call multiple `set` calls with only one varbind to extract the individual errors, but that method will reduce performance. Also, reporting all errors would be consistent with `net-snmp` commands too.

Hi @silverwind - there are a few things going on here, so you'll have to excuse the long explanation!

First, the SNMP PDU format does not convey any type information in varbinds - in the protocol-level PDUs, a varbind is just an OID and a value.  So "wrong type" errors are detected by the library on the sender and trigger the error callback without any SNMP SetRequest PDU being sent.  Since there is no PDU at the point of detecting the type error, there is no error-status value ala RFC 3416 Section 3 here.  So technically this a JavaScript TypeError, and not an SNMP WrongType error-status (as you rightly point out - it's not a varbind / protocol error).

The WrongValue errors, however, *are* varbind (protocol) errors.  You haven't provided an actual example of a WrongValue OID and condition, but let's say for example that this is a case of setting an integer value outside of the values in an enumerated type.  In this case, the type detection on the sender simply sees that the value is a valid integer, doesn't do the enumerated value check, and so the local type checking is passed.  The library then creates and sends the SetRequest PDU.  The remote agent detects that the integer value is outside the enumerated type values, and generates a Response PDU with error-status of WrongValue (integer 10), and error-index of the varbind that has failed the check.  Note that the SNMP PDU format itself only provides for a single error-status, and single error-index, so there is no mechanism for the remote agent to convey that multiple varbinds have failed.  It sends notification of only one failure instance, and typically this is the first varbind that fails.  This means that there is no way to get all of the WrongValue errors at once if there are more than one of these in the list of varbinds, as the agent can only report a single error in its Response PDU.

Another quirk of this design is that all of the type checking is done first, and so if you reversed the order of the varbinds in your example, you'd notice that you still only get the TypeError, even though it is second in the list, as TypeErrors are caught locally before the SetRequest PDU is created/sent, and a WrongValue error is generated later on, when processing the Response PDU.

Given all of this, I'm inclined to leave the current behaviour as is, although I will always be open to a well-made case!

The specific reasons for my thinking of maintaining the status quo are:
(a) Modifying the single-error-reporting mechanism is inconsistent with the design of SNMP's PDU format itself, which has provision for reporting only one varbind error per Response PDU.
(b) It would then be inconsistent to report multiple errors with the TypeError check (which we could do, because there are no protocol constraints at that point), but report only a single error for WrongValue errors as (which we're constrained to do by the response PDU format).
(c) Trying to enumerate all TypeError (pre-send) and protocol errors (post-response) would be messy implementation-wise, as you're first detecting and removing TypeErrors, then progressing to send a modified SetRequest PDU with the TypeErrors stripped out.  Progressing under a partial failure scenario, just to be complete in gathering all error info from both sides, also might not be desirable in all cases.  Since the `set` operation groups varbinds together for atomicity, there's an argument to fail the whole operation early if you can.
(d) There is nothing stopping you from employing `set` calls with multiple varbinds, which will go through fine if there are no errors, and this won't reduce performance.  It's just the error case that you'll have to deal with fixing one-by-one, which is the performance hit.  Hopefully your error case will typically be much less frequent that the success case, so the performance hit with error handling is not too severe.  In the vast majority of cases I've worked with, the sending code is able to exploit programmer knowledge of exactly what type and value constraints are employed in the OIDs it is working with, and so type or value errors can be explicitly avoided.


Thanks for the detailed explanation. The specific errors mentioned in the examples are not ideal examples, but I'm pretty sure I remember seeing multiple errors being returned from the `snmpset` command. I'll try to come up with a better example.

I'll also have to benchmark the case of singular `set` as I don't know yet how big the performance hit is.

Hi @silverwind - I'll close this for now, as I'm currently in favour of the behaviour as it stands.  Feel free to add anything to the conversation here (I'll still get notified even though it's closed).