Only the final `DESCRIPTION` element for a Module Identity is returned by ModuleStore

### Version
net-snmp 2.7.1

### Problem
Where a module has several `DESCRIPTION` elements as a result of being revised, only the last one is returned by `ModuleStore.getModule()`. Additionally, the `REVISION`s associated with each `DESCRIPTION` are not present.

Because multiple pairings of `REVISION` and `DESCRIPTION` are likely in a Module Identity, it might be appropriate to return these as an array of objects containing the pairs. A breaking change could be avoided by continuing to include the last `DESCRIPTION` for some grace period.

### Example

IF-MIB Module Identity
```
ifMIB MODULE-IDENTITY
    LAST-UPDATED "200006140000Z"
    ORGANIZATION "IETF Interfaces MIB Working Group"
    CONTACT-INFO
            "   Keith McCloghrie
                Cisco Systems, Inc.
                170 West Tasman Drive
                San Jose, CA  95134-1706
                US

                408-526-5260
                kzm@cisco.com"
    DESCRIPTION
            "The MIB module to describe generic objects for network
            interface sub-layers.  This MIB is an updated version of
            MIB-II's ifTable, and incorporates the extensions defined in
            RFC 1229."
    REVISION      "200006140000Z"
    DESCRIPTION
            "Clarifications agreed upon by the Interfaces MIB WG, and
            published as RFC 2863."
    REVISION      "199602282155Z"
    DESCRIPTION
            "Revisions made by the Interfaces MIB WG, and published in
            RFC 2233."
    REVISION      "199311082155Z"
    DESCRIPTION
            "Initial revision, published as part of RFC 1573."
    ::= { mib-2 31 }
```

Value returned from `ModuleStore.getModule()`:
```js
  ifMIB: {
    ObjectName: 'ifMIB',
    ModuleName: 'IF-MIB',
    MACRO: 'MODULE-IDENTITY',
    'LAST-UPDATED': '200006140000Z',
    ORGANIZATION: 'IETF Interfaces MIB Working Group',
    'CONTACT-INFO': '   Keith McCloghrie\n' +
      '                Cisco Systems, Inc.\n' +
      '                170 West Tasman Drive\n' +
      '                San Jose, CA  95134-1706\n' +
      '                US\n' +
      '\n' +
      '                408-526-5260\n' +
      '                kzm@cisco.com',
    DESCRIPTION: 'Initial revision, published as part of RFC 1573.',
    'OBJECT IDENTIFIER': 'mib-2 31',
    OID: '1.3.6.1.2.1.31',
    NameSpace: 'iso.org.dod.internet.mgmt.mib-2.ifMIB'
  },
```

Hi @bentorkington - I've made two changes for this:
(1) The DESCRIPTION changes to be the first entry, not the last, as by convention the first tends to often be the actual description, rather than history entries.
(2) I've added a REVISIONS-DESCRIPTIONS key, the value of which stores an ordered array of REVISION and DESCRIPTION entries.  This will not be present if there is only a single DESCRIPTION entry.

This change is on master now and published in version 2.7.6 of the npm.