Constraint is honored but error is not returned as (I think) it should be

Currently, a constraint prevents a value from being set if the requested value is not within the limits imposed by the constraint. The `setValue` method then returns false to indicate that it was not able to set the value. No error is returned by the agent to the manager, indicating such, however.

My reading of [RFC-3416, Section 4.2.5, Item (6)](https://tools.ietf.org/html/rfc3416#page-19) is that a "wrongValue" error should be returned. Is there a conflicting requirement in a different spec that would indicate that no error should be returned?

Yep, you're spot on there @derrell!  I must not have read that part of the RFC properly or at all when implementing, so it definitely should be returning a wrongValue error there.  I'll make this change.

Fixed in master now and fix published in version 3.2.3 of the npm.