Support for Custom Types and Enumerations

Are there any plans to support custom types as defined in [rfc2579](https://tools.ietf.org/rfc/rfc2579.txt)? I did see the [compliance list](https://www.npmjs.com/package/net-snmp#standards-compliance) and rfc2579 was not on it.

I could work around it by using the handler callbacks to enforce enumerated values however I would rather use the MIB file where possible.

Thanks!

Hi @blackhawk101x - I'm pretty sure I understand what you're asking, but just to confirm I have it right: When you read a MIB file into the module store and use store.getProvidersForModule() to read in the providers for the MIB file, you want any enumerated INTEGER number constraints read in as the part of provider definition.  Then when you mib.registerProviders() these into the agent, the enumeration constraints would be present for any SNMP protocol SetRequests to be checked against, and a SetRequest would fail if the set value wasn't part of the enumeration.  Is that what you're gunning for?

Hi,

Yes, exactly that.

Thanks for the timely responds!

Great thanks for confirming @blackhawk101x - that would be a useful enhancement, so it's on the list now!

Hi @blackhawk101x - I've implemented integer "name-number enumeration" constraints a la RFC 2578 section 7.1.1.  You can handcraft these on a provider definition, and they're also automatically read into provider definitions from MIB file INTEGER enumerations, which should give you what you're after.  SetRequests that don't adhere to the enumeration constraints will fail. 
 There are more details on this in the "constraints" part of the "Mib Module" section of the README.

On master now and published in v2.9.1 of the npm.