`MibNode.setValue()` appears to be useless for Unsigned32, Gauge and Counter types

I'm trying to understand https://github.com/markabrahams/node-net-snmp/blob/master/index.js#L634-L643 when it's called from https://github.com/markabrahams/node-net-snmp/blob/master/index.js#L3872

I have OIDs that are defined as Gauge and Unsigned32.  I don't understand why I shouldn't be able to call `mibRequest.instanceNode.setValue(handler.scalarType, val)` in order to set the value for that OID.  `ObjectTypeUtil.castSetValue()` unconditionally forces the value to 0, even though I'm providing a valid value for the data type. Even for a counter, I would assume I am responsible for ensuring the value starts at 0 and gets incremented correctly.  But I can't change it at all now.  

In `castSetValue()` for all other data types it appears to actually do some combination of typecasting and validation that the given value is vaild for the dataType.  I am baffled why for counter, gauge and unsigned32 the value is completely ignored.  Not even an error thrown.  Can you explain what the purpose is here?

Also tabular OIDs don't appear to follow this same ObjectType logic: `setTableSingleCell(tableName, oidColumnNumber, [instance], columnValue);` appears to still work as it did previously.  Or perhaps it does have the same issue but I haven't uncovered it yet.

Edit: I phrased this issue as a question but really it is a regression/ breaking change from 3.15 - ignoring the method signature change in `MibNode.prototype.setValue()` - it was previously possible to call `setValue()` on these types.   Without that I have no way of setting the correct value for any OIDs using these types in my MIB.

Hi @thom-nic - castSetValue() had its origins in sanitizing a default value (DEFVAL), and - as commented in the code - it followed a guideline in RFC2578 Section 7.9, stating:

> Object types with SYNTAX of Counter32 and Counter64 may not have
>    DEFVAL clauses, since they do not have defined initial values.
>    However, it is recommended that they be initialized to zero.

However the castSetValue() code here:
(a) was overreaching somewhat, incorrectly applying the counter logic to Gauge and Unsigned integer types as well.
(b) got repurposed to be a cast in a number of more generalized scenarios, where the zero value was not valid.

So in short, this is a bug, and I've pushed a fix for it now, and published in version 3.20.0 of the npm.