ResponseInvalidError: OID does not precede OID in response at position '0'

Hello!

I use net-snmp 2.5.1 to collect data from HPE 1910-48 Switch JG540A (with latest firmware) with Walk or Subtree method and get error:

"ResponseInvalidError: OID '1.3.6.1.2.1.17.4.3.1.2.160.140.253.98.0.150' in request at positiion '0' does not precede OID '1.3.6.1.2.1.17.4.3.1.2.112.133.194.104.132.5' in response at position '0'"

Is this a bug in net-snmp or in switch snmp implementation?
Is there a workaround? 

P.S.: snmpwalk utility get all data without errors.

Hi  @StuxForce - I've just updated the CONTRIBUTING.md file with some guidelines on submitting bug reports.  Can you have a read of the "Bug Reports" section, and in particular I'm after a minimal reproduction of the problem (point 4), and also packet captures for both the non-working example with this library and a working example using another tool like the NetSNMP command line (point 5).  Thanks!

Thanks!

Captured packets in with_net-snmp_js.pcapng is when I try to use net-snmp.subtree to get data from 192.168.1.149. After the las request i've got 
_"ResponseInvalidError: OID '1.3.6.1.2.1.17.4.3.1.2.160.140.253.98.0.150' in request at positiion '0' does not precede OID '1.3.6.1.2.1.17.4.3.1.2.112.133.194.104.132.5' in response at position '0'"_ error.

In with_netsnmp_command_line.pcapng file I do requests manually with "snmpgetnext.exe" and can get next reply.

P.S.: the error output is from ResponseInvalidError in https://github.com/markabrahams/node-net-snmp/blob/341dd61918fbe102c02731cc79c611e651a03731/index.js#L1708 

[debug.zip](https://github.com/markabrahams/node-net-snmp/files/4122470/debug.zip)


I had same problem here. I guest it's because of your table has decrease oid. You can check it by using MIB Browser.
I do some trick here. In file `index.js`  function `getNext` line `1780` edit like this:
`for (var i = 0; i < req.message.pdu.varbinds.length; i++) {
				varbinds.push (pdu.varbinds[i]);
				// if (isVarbindError (pdu.varbinds[i])) {
				// 	varbinds.push (pdu.varbinds[i]);
				// } else if (! oidFollowsOid (req.message.pdu.varbinds[i].oid,
				// 		pdu.varbinds[i].oid)) {
				// 	console.log(req.message.pdu.varbinds[i].oid);
				// 	console.log(pdu.varbinds[i]);
				// 	req.responseCb (new ResponseInvalidError ("OIDsssssssssssssss '"
				// 			+ req.message.pdu.varbinds[i].oid + "' in request at "
				// 			+ "positiion '" + i + "' does not precede "
				// 			+ "OID '" + pdu.varbinds[i].oid + "' in response "
				// 			+ "at position '" + i + "'"));
				// 	return;
				// } else {
				// 	varbinds.push (pdu.varbinds[i]);
				// }
			}`

Thanks for that @tuanptit - you're correct in your analysis there.

The HPE switch is responding to a GetNextRequest-PDU with an OID that is not the lexicographic successor of the variable binding's name in the GetNextRequest-PDU.  That's violating RFC3416 section 4.2.2:
"The variable is located which is in the lexicographically ordered list of the names of all variables which are accessible by this request and whose name is the first lexicographic successor of the variable binding's name in the incoming GetNextRequest-PDU.  The corresponding variable binding's name and value fields in the Response-PDU are set to the name and value of the located variable."

RFC3416 doesn't say what the sending SNMP entity should do on reception of a varbind that violates that rule.  The library currently throws an error; but I guess the more forgiving behaviour of Net-SNMP - i.e. just continuing the walk / subtree with the given previous OID - may be desirable in some cases (which is also @tuanptit's proposed solution).  The only potential problem I see with that logic is that a non-conforming SNMP agent would have the potential send the common walk / subtree behaviour of the SNMP command generator into an infinite loop.  So then the library's current logic is arguably safer behaviour.

Introducing an option switch to disable the lexicographical ordering error check would be a solution that gives the user of the library a choice between the two behaviours - maybe this is the best way forward?  @StuxForce and @tuanptit - what are your thoughts on this approach?

Thanks! 
I think that an option switch to disable the lexicographical ordering error check would be best!

Agreed - I've added an options.backwardsGetNexts switch to toggle this behaviour and released this in v2.5.12 of the npm.

@StuxForce - I don't have a device with this behaviour, so are you able to test that this fixes the condition with the HPE switch, and let me know how that goes?  Thanks!

@markabrahams, thanks!
But in my case I need to change getNext function at line 1829 to this:

```
Session.prototype.getNext = function (oids, responseCb) {
	var backwardsGetNexts = this.backwardsGetNexts

	function feedCb(req, message) {
		var pdu = message.pdu;
		var varbinds = [];

		if (req.message.pdu.varbinds.length != pdu.varbinds.length) {
			req.responseCb(new ResponseInvalidError("Requested OIDs do not "
				+ "match response OIDs"));
		} else {
			for (var i = 0; i < req.message.pdu.varbinds.length; i++) {
				if (isVarbindError(pdu.varbinds[i])) {
					varbinds.push(pdu.varbinds[i]);
				} else if (!backwardsGetNexts && !oidFollowsOid(
					req.message.pdu.varbinds[i].oid,
					pdu.varbinds[i].oid)) {
					req.responseCb(new ResponseInvalidError("OID '"
						+ req.message.pdu.varbinds[i].oid + "' in request at "
						+ "positiion '" + i + "' does not precede "
						+ "OID '" + pdu.varbinds[i].oid + "' in response "
						+ "at position '" + i + "'"));
					return;
				} else {
					varbinds.push(pdu.varbinds[i]);
				}
			}

			req.responseCb(null, varbinds);
		}
	}

	var pduVarbinds = [];

	for (var i = 0; i < oids.length; i++) {
		var varbind = {
			oid: oids[i]
		};
		pduVarbinds.push(varbind);
	}

	this.simpleGet(GetNextRequestPdu, feedCb, pduVarbinds, responseCb);

	return this;
};
```
Besides, a fix at line 1636 is needed to use boolean values (because value is always true). This is work:
```
	this.backwardsGetNexts = (typeof options.backwardsGetNexts !== 'undefined')
		? options.backwardsGetNexts
		: true;
```

Thanks @StuxForce - I've applied those fixed to master now and release in version 2.6.1 of the npm.  Are you able to re-test and advise if it is working OK now?

Hi! It is still not working, because **this.backwardsGetNexts** is undefined on line 1841:
`} else if (!this.backwardsGetNexts && !oidFollowsOid(req.message.pdu.varbinds[i].oid,`
In my previous comment I public full Session.prototype.getNext code, where I used local var backwardsGetNexts. It is works fine!

Sorry @StuxForce - didn't read your solution thoroughly enough!  Have made that change to master now and published in version 2.6.3 of the npm.  Third time a charm? :-)

@markabrahams thanks! All is working good now! :)

Thanks for confirming @StuxForce - we got there in the end! :-)