SNMP - AGENT & NMS

Dear @markabrahams , @rsolomo  , @stephenwvickers  , @dhillis-miovision , @mancku 

My best wishes for 2020. You did a great job and I appreciate.

Now, Most of the time we found on github only repository regarding snmp for NMS to monitor an Agent in nodejs and javascript or C++ supporting snmp V1,2,3 with or without all securities for V3.

**Questions** 


### Topic : How to parse and verify the MIB file is compliant with RFC ?

Do you have the way to parse the MIB and verify no dependencies aren't missing ?

### Topic : Do you have same repository for snmp Agent / NMS

I write a MIB file and I need an snmp agent 

### Topic : snmp trap from snmp agent 

I don't need only to share linkdown, status of the device , ... but share some parameters through the traps.
How I can do it ?

### Nodejs &  javascript / typescript

We are looking to use libraries with nodejs and javascript /typescript ?

If you have any interesting links or you could share your knowledge it will be helpful and will be happy, I am not asking to make this only for me but to contribute for the open source community ;-)



Best Regards,
Youssef


Hi @yboujraf 

I needed a SNMP library 4 years ago, and while @markabrahams is a very good one, at that time it didn't cover all the features I needed, so I used this (non-open source) one: https://www.nsoftware.com/ipworks/snmp/download.aspx

I haven't used anything related to SNMP since then, so I can't really help you.

Best Regards,



Hi @yboujraf 

I'd like to draw your attention to the the project's CONTRIBUTING.md guidelines, which I'll refer to throughout.

To answer your questions:

**Topic : How to parse and verify the MIB file is compliant with RFC ?**
The node-net-snmp library doesn't support MIB parsing at present.  Although it may get done one day, it isn't a high priority for the project right now.

**Topic : Do you have same repository for snmp Agent / NMS**
This is the only repository for the net-snmp NPM.  There is no SNMP agent support at present, but there is an open issue #25 for this feature (CONTRIBUTING.md - What to always do, point 2: "Please search the list of issues to see if your topic already has an issue raised for it. If so, add your comment to that issue instead of raising a duplicate").

There is library support for NMS functionality: the "Session" API - check the README.md documentation on that (CONTRIBUTING.md - What to always do, point 1: "Please respect the hundreds of hours developers have spent writing and testing the software by taking the necessary minutes to read the documentation on what features are implemented and how to use them.")

**Topic : snmp trap from snmp agent**
_I don't need only to share linkdown, status of the device , ... but share some parameters through the traps. How I can do it ?_
Trapv2-PDUs take can additional varbinds to convey additional information to the receiver - see RFC 3416, Section 4.2.6.  Both session.inform and session.trap library calls support an optional array of varbinds for this as per the README.md documentation.

Also, from CONTRIBUTING.md, What never to do, point 1: "Please do not raise more than one topic in an issue."

All the best
Mark

Dear @markabrahams 

Thanks a lot for your clear answer.

Regarding the link in issue, I was aware but no description that's why I created an issue.

You are doing a very good job

Best Regards,
Youssef

Thanks @yboujraf !

I've just implemented SNMP agent support in the latest release of the npm (v2.2.0).  Documentation on usage is in the README.md.

Cheers
Mark

@mancku - it would be helpful to elaborate on what features you found missing from a 4-year-ago version of the library.  Also, welcome to 2020!  :-)

@yboujraf - I've just implemented a MIB parser and a MIB module store that you can use to parse a MIB file, and then add that MIB to your SNMP agent.  See the "Using This Module: Module Store" section of the README.md for more info if you're interested.

@markabrahams I'm sorry, That was September 2016 and I don't remember exactly what it was missing that I needed for the project, and I don't have access to that code anymore. I think it was something related to the traps, but I'm not sure. 

@yboujraf - As per the answer to #58, feed MIB parsing for RFC compliance through the asn2json project.  I've addressed the SNMP agent support and trap sending above.  Closing this issue.