I have issues when I get a table

I already loaded the MIBs without errors, but when I want to get the table

With var oid = "1.3.6.1.2.1.2.2"; I don't have issues,

With var oid = "1.3.6.1.4.1.41112.1.4.7" I don't get my table 

[
  'RFC1155-SMI',
  'RFC1158-MIB',
  'RFC-1212',
  'RFC1213-MIB',
  'SNMPv2-SMI',
  'SNMPv2-CONF',
  'SNMPv2-TC',
  'SNMPv2-MIB',
  'UBNT-MIB',
  'UBNT-AirMAX-MIB'
]

row for index = 1
row for index = 1
row for index = 1
row for index = 1
row for index = 1
row for index = 1

Loaded mibs:

[UBNT-AirMAX-MIB.mib.txt](https://github.com/markabrahams/node-net-snmp/files/5430858/UBNT-AirMAX-MIB.mib.txt)
[UBNT-MIB.mib.txt](https://github.com/markabrahams/node-net-snmp/files/5430859/UBNT-MIB.mib.txt)



I can't get the table 1.3.6.1.4.1.41112.1.4.7
I am using this code session.table (oid, [maxRepetitions], callback)
![imagen_2020-10-23_135641](https://user-images.githubusercontent.com/70729734/97043052-94df9f80-1537-11eb-9f1e-e7fb3cf0e9d4.png)


With this program I see the table
![image](https://user-images.githubusercontent.com/70729734/97044607-f143be80-1539-11eb-8e52-4826dbda0cf9.png)


El problema se encuentra en el parseInt, quité la transformación a entero y se arregló
```
for (index in table)
            indexes.push (parseInt (index));
indexes.sort (sortInt);
```
Con esto se soluciona el error
```
for (index in table)
            indexes.push (index);
indexes.sort (sortInt);
```
