RowStatus implementation?

I am unable to find an implementation or a way to provide the functionality of `RowStatus` as described at https://github.com/markabrahams/node-net-snmp/blob/master/lib/mibs/SNMPv2-TC.mib#L186. `RowStatus` should allow dynamically adding and deleting rows from a table, via the agent. I haven't yet found a way to create a table row other than with `Mib.prototype.addTableRow`, but that method is never called by the agent. Is there a way, either built-in or added by the application? (The request is rejected near the beginning of `Agent.prototype.request`, when the instanceNode isn't found. Therefore no provider handler is ever called.)

Suggestions?

Thanks!

Hi @derrell - your observation is correct!  I haven't implemented `RowStatus` at all.

And as you mention, this would require an implementation in line with  the `RowStatus` definition in the SNMPv2-TC MIB (in RFC 2579 Section 2).

I'd welcome a PR for this if you (or anyone else!) is keen to have a crack at it!

I am looking into implementing this.... but YUCK! The definition of what's to be implemented is race condition on top of race condition! Sigh.

Completed with #147.

There appears to be a problem. Please see #160...

This should be fixed in master and version 3.2.2 of the npm, so @derrell if you could confirm the fix and close if you're happy, that would be great thanks!

(Further details in #160) 

I'm no longer able to reproduce this problem. Closing. Thanks.